<!DOCTYPE html>
<html>
<head>
    <title>No-Show Report</title>
</head>
<body>
    <h2>Meeting No-Show Report</h2>
    <ul>
        <li>Meeting ID: <%= meetingId %></li>
        <li>Reason: <%= noShowReason %></li>
        <li>Reported by: <%= reportedBy %></li>
    </ul>
</body>
</html>